/*==============================================================
	Media css
==============================================================*/
@media (max-width: 1400px){
}
@media (max-width: 1200px){
}
@media (max-width: 1024px){
}
@media (max-width: 991px){
}
@media (max-width: 767px){
}
@media (max-width: 660px){
}