@charset "utf-8";

/*==============================================================

	Name:style.css
	Version:1.0.0

==============================================================*/

/*==============================================================
	Common Styles Initials
==============================================================*/
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	color: #666;
	width: 100%;
	height: 100%;
	background: #eff5f7;
}
a {
	outline: none;
	text-decoration: none;
	color: #555;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'Open Sans', sans-serif;
}
a, input, button {
	outline: none !important;
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Work Sans', sans-serif;
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
.container{
	max-width: 1120px;
	width: 100%;
}

.mx-h-300{max-height: 300px;}
.mx-h-350{max-height: 350px;}
.mx-h-380{max-height: 380px;}
.mx-h-400{max-height: 400px;}
.mx-h-450{max-height: 450px;}

.dropdown-toggle::after{
	content: "\f107";
	border: 0;
	font-family: "FontAwesome";
	vertical-align: unset;
	width: auto;
	height: auto;
}
.dropdown.show .dropdown-toggle::after{
	content: "\f106";
}
.dropdown-toggle.no-arrow:after{
	display: none;
}
.dropdown-menu{
	border-color: #cccccc;
	border: 0;
	padding: 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}
.dropdown-item{
	font-size: 15px;
	font-weight: 400;
	padding: 0.55rem 1rem;
	color: #667f87;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: #eff5f7;
	color: #667f87;
}

/* header start */
.header{
	position: fixed;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
}
.header-right{
	float: right;
	width: calc(100% - 250px);
	background: #ffffff;
	height: 70px;
	padding: 10px 20px;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .4);
}
.user-info-dropdown{
	float: right;
}
.user-info-dropdown .dropdown-toggle{
	display: block;
	padding: 10px 0;
	font-size: 16px;
}
.user-info-dropdown .dropdown-toggle .user-icon{
	width: 32px;
	height: 32px;
	border: 1px solid #0288D1;
	color: #0288D1;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.user-info-dropdown .dropdown-toggle .user-name{
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #667f87;
	font-family: 'Work Sans', sans-serif;
}
.user-info-dropdown .dropdown-item{
	position: relative;
	padding-left: 45px;
}
.user-info-dropdown .dropdown-item .fa{
	position: absolute;
	left: 16px;
	top: 11px;
	font-size: 18px;
}

.user-notification{
	float: right;
	margin-right: 30px;
	padding-top: 12px;
}
.user-notification .dropdown-toggle{
	font-size: 20px;
	padding: 10px;
	color: #91a8b0;
	position: relative;
}
.user-notification .dropdown-toggle .badge{
	position: absolute;
	right: 8px;
	top: 10px;
	background: #f5678a;
	width: 5px;
	height: 5px;
	display: block;
	padding: 0;
}
.user-notification .dropdown-menu{
	width: 340px;
	max-height: 400px;
}
.notification-list{}
.notification-list ul li{
}
.notification-list ul li:nth-child(2n){
	background: #eff5f7;
}
.notification-list ul li a{
	display: block;
	position: relative;
	padding: 10px 15px 10px 75px;
	min-height: 70px;
	color: #33484f;
	font-size: 15px;
	font-family: 'Work Sans', sans-serif;
}
.notification-list ul li a img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 20px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}
.notification-list ul li a h3{
	font-size: 18px;
	color: #33484f;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
}
.notification-list ul li a h3 span{
	float: right;
	font-size: 14px;
	font-weight: 500;
	padding-top: 2px;
}
.notification-list ul li a p{margin-bottom: 0;}

/*-------- left menu --------*/
.brand-logo{
	width: 250px;
	padding: 15px 20px 10px;
}
.brand-logo a{
	display: block;
	position: relative;
	font-size: 22px;
	color: #131e22;
	letter-spacing: 0.050em;
	font-weight: 500;
	line-height: 45px;
	padding-left: 45px;
	font-family: 'Work Sans', sans-serif;
}
.brand-logo a span{
	display: block;
	vertical-align: middle;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brand-logo a img{
	max-width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	vertical-align: middle;
}
.left-side-bar{
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	background: #ffffff;
	-webkit-box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
	box-shadow: -2px 0px 10px rgba(0, 0, 0, .4);
}
.left-side-bar .menu-block{
	height: calc(100vh - 70px);
}
.sidebar-menu{
	padding: 20px 5px 0;
}
.sidebar-menu .dropdown-toggle{
	display: block;
	padding: 10px 15px 10px 60px;
	font-size: 16px;
	color: #131e22;
	font-weight: 500;
	position: relative;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .dropdown-toggle:after{
	position: absolute;
	right: 15px;
	font-size: 18px;
}
.sidebar-menu .dropdown-toggle:hover, .sidebar-menu .show .dropdown-toggle{
	background: #def2ff;
	color: #0099ff;
}
.sidebar-menu .dropdown-toggle .fa{
	position: absolute;
	left: 20px;
	font-size: 18px;
	color: #91a8b0;
	width: 26px;
	top: 13px;
	text-align: center;
}
.sidebar-menu .dropdown-toggle:hover .fa, .sidebar-menu .show .dropdown-toggle .fa{
	color: #0099ff;
}
.sidebar-menu .submenu{
	position: relative;
	width: 100%;
	display: none;
	background: #def2ff;
}
.sidebar-menu .submenu li a{
	display: block;
	padding: 10px 15px 10px 60px;
	font-size: 14px;
	color: #131e22;
	font-weight: 500;
	position: relative;
	font-family: 'Work Sans', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .submenu li a:hover{
	color: #0099ff;
}
/* header end */