@charset "utf-8";

/*==============================================================

	Name:style.css
	Version:1.0.0

==============================================================*/

/*==============================================================
	Common Styles Initials
==============================================================*/
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	color: #666;
	width: 100%;
	height: 100%;
	background: #f7f7f7;
}
a {
	outline: none;
	text-decoration: none;
	color: #555;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'Open Sans', sans-serif;
}
a, input, button {
	outline: none !important;
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
.container{
	max-width: 1120px;
	width: 100%;
}
.dropdown-toggle::after{
	content: "\f107";
	border: 0;
	font-family: "FontAwesome";
	vertical-align: unset;
	width: auto;
	height: auto;
}
.dropdown.show .dropdown-toggle::after{
	content: "\f106";
}
.dropdown-menu{
	border-color: #cccccc;
}
.dropdown-item{
	font-size: 15px;
	font-weight: 500;
	padding: 0.45rem 1rem;
	color: #222222;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus{
	background: #0288D1;
	color: #ffffff;
}

/* header start */
.header{
	position: fixed;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
}
.header-right{
	float: right;
	width: calc(100% - 250px);
	background: #ffffff;
	height: 70px;
	padding: 10px 20px;
}
.user-info-dropdown{
	float: right;
}
.user-info-dropdown .dropdown-toggle{
	display: block;
	padding: 10px 0;
	font-size: 16px;
}
.user-info-dropdown .dropdown-toggle .user-icon{
	width: 32px;
	height: 32px;
	border: 1px solid #0288D1;
	color: #0288D1;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.user-info-dropdown .dropdown-toggle .user-name{
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #222222;
}
.user-info-dropdown .dropdown-item{
	position: relative;
	padding-left: 45px;
}
.user-info-dropdown .dropdown-item .fa{
	position: absolute;
	left: 16px;
	top: 11px;
	font-size: 18px;
}

/*-------- left menu --------*/
.brand-logo{
	width: 250px;
	padding: 15px 20px 10px;
}
.brand-logo a{
	display: block;
	position: relative;
	font-size: 22px;
	color: #ffffff;
	letter-spacing: 0.100em;
	font-weight: 500;
	line-height: 45px;
	padding-left: 45px;
	font-family: 'Montserrat', sans-serif;
}
.brand-logo a span{
	display: block;
	vertical-align: middle;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brand-logo a img{
	max-width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	vertical-align: middle;
}
.main-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	background: #212121;
}
/* header end */